/* Header Styling */
#navbar ul{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    position: fixed; 
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 0px;
    z-index: 100;
}

#navbar li{
        float: left;
}

.nav {
    
    font-size: 20px;
    
    font-family: sans-serif; 
    
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: inline-block;
}
#navbar li:hover {
    background-color: #83e3ff;
}
#active {
    background-color: #00c5ff;
}

#mainContainer {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    width: 90%;
    position: relative;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

div.cardContainer {
    border-width: 4px;
    border-style: dotted;
    border-color: darkgreen;
    border-radius: 20px;
    width: 400px;
    height: 250px;
    background-color: limegreen;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px green;
}

img.cardImage {
    float: left;
    width: 40%;
    height: 100%;
    border-right: 10px dotted green;
    object-fit: cover;
    border-radius: 15px;
}

.contentContainer {
    width: 57.5%;
    display: inline-block;
    text-align: center;
}

span.cardTitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    font-family: "Source Sans Pro", sans-serif;
}

p.cardDesc {
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
}
a.cardLink {
    font-size: 22px;
    color: darkgreen;
    font-family: "Source Sans Pro", sans-serif;
    
}


/* Classes Taken Styling */

table#classesTakenTable {
    font-family: sans-serif, serif; 
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    background-color: #007c00;
}

#classesTakenTable th, #classesTakenTable td {
    border-top: 2px solid #969696;
    padding: 5px;
}

#classesTakenTable tr.odd {
    background-color: #00a300;
}
#classesTakenTable td.CSdepartment {
    background-color: limegreen;
}

#classesTakenTable td.ITdepartment {
    background-color: #2aa52a;
}

div#myCardWrapper {
    border: 2px solid black;
    box-shadow: 10px 10px #008100;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

div#cardCol1, div#cardCol2, div#cardCol3 {
    width: 30%;
    display: inline-block;
    float: left;
}

div#cardCol3 {
    width: 40%;
    padding-left: 5px;
}

img#cardPicture {
    border: 1px solid black;
    margin: 10px;
    width: 90%;
}
h2.cardHeader, p.cardContent {
    text-align: center;
}

#instituteHeader {
    text-align: right;

}

img#muTiger {
    width: 150px;
    display: block;
    margin-left: auto;
}

#courseHistoryText {
    text-align: center;
    font-size: 40px;
}

#courseDescription {
    word-wrap: normal;
}

#courseName {
    min-width: 50px;
}

td.grades, td.projects, td.credits {
    text-align: center;
}

.modalDialog {
position: fixed;
font-family: Arial, Helvetica, sans-serif;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0,0,0,0.8);
z-index: 99999;
opacity: 0;
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
pointer-events: none;
}

.modalDialog:target {
opacity: 1;
pointer-events: auto;
}

.modalDialog > div {
    width: 560px;
    height: 315px;
    position: relative;
    margin: 10% auto;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
background: #606061;
color: #FFFFFF;
line-height: 25px;
position: absolute;
right: -12px;
text-align: center;
top: -10px;
width: 24px;
text-decoration: none;
font-weight: bold;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 1px 1px 3px #000;
-webkit-box-shadow: 1px 1px 3px #000;
box-shadow: 1px 1px 3px #000;
}

.close:hover { 
    background: #00d9ff; 
}

/* Skills Column Styling */
#mainWrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1128px;
    border: 6px solid slategray;
    border-radius: 100px;
    background-color: black;
    padding: 8px;
    overflow: hidden;
    position: relative;
    animation: changeWrapperColor 2s forwards;
    z-index: -3;
}

hr {
    border: 1px solid black;
    margin: 0px;
}
/* Animation for Skills Column */
#mainWrapper::before {
    content: "";
    position: absolute;
    width: 1150px;
    height: 800px;
    transform: translateX(-50%);
    background-color: cadetblue;
    animation: fillMe 2s ease-in-out forwards;
    z-index: -1;
}

@keyframes changeWrapperColor {
    0% {
        background-color: black;
    }
    99% {
        background-color: black;
    }
    100% {
        background-color: cadetblue;
    }
}

@keyframes fillMe {
    0% {
        top: 650px;
       }
    100% {
        top: -10px;
       }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.rowWrapper {
    width: 449px;
    margin: 18px;
    float: left;
    animation: fadeIn 3s ease-in-out forwards;
}

.column {
    float: left;
    padding: 18px;
    margin: 18px;
    height: 433px;
    border: 7px solid slategray;
    border-radius: 100px;
    animation: fadeIn 3s ease-in-out forwards;
}

.rightCol {
    width: 210px;
    background-color: aliceblue;
}

.leftCol {
    width: 247px;
    background-color: darksalmon;
}

.row {
    width: 375px;
    padding: 25px;
    border: 7px solid slategray;
    border-radius: 100px;
}

.bottomRow {
    height: 132px;
    background-color: aquamarine;
}

.topRow {
    height: 198px;
    background-color: lightblue;
    margin-bottom: 25px;
}

#skills {
    text-align: center;
    font-size: 40px;
    margin: 10px;
    color: white;
    animation: fadeIn 3s ease-in-out forwards;
}

.clear::after{
    content: "";
    display: table;
    clear: both;
}


/* Homepage Styling */
#profileGroup {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

#content {
    overflow: auto;
    z-index: 200;
}

#myPhoto {
    /* positioned image relative */
    position: relative;
    
    /* aligned image center */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    
    /* Specified image max-width */
    max-width: 40%;
    
    /* Specified image border */
    border-style: solid;
    border-width: 2px;
    border-color: aqua;
    
}

.homepageName{
    /* Specified h3 font-size */
    font-size: 40px;
    
    /* Specified h3 margins */
    margin-top: 20px;
    margin-bottom: 20px;
    
    /* Positioned h3 center */
    text-align: center;
    
    /* Positioned h3 relative */
    position: relative;
    color: aqua;
}

.aboutMe {
    margin-top: -12px;
    
    /* Paragraph centered */
    text-align: center;
    
    /* Specified font-size */
    font-size: 24px;
    
    /* Specified color */
    color: skyblue;
}

#links {
    text-align: center;
}

.linkButton {
    font-size: 30px;
    background-color: darkgreen;
    color: lightblue;
    border: 2px solid lightblue;
    transition-duration: 0.4s;
    padding: 2px 8px;
    margin-top: 10px;
    margin-right: 15px;
}

.linkButton:hover{
    background-color: lightblue;
    color: black;
}

h1 {
    margin: 5px;
}

p {
    font-size: 24px;
    margin: 5px;
}
h4 {
    color: azure;
}
body {
    /* Body color changed */
    background-color: darkgreen;
    
    padding-top: 60px;
    padding-bottom: 40px;
}
