/* Header Styling */
#navbar ul{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    position: fixed; 
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 0px;
    z-index: 100;
}

#navbar li{
        float: left;
}

.nav {
    
    font-size: 20px;
    
    font-family: sans-serif; 
    
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: inline-block;
}
#navbar li:hover {
    background-color: #83e3ff;
}
#active {
    background-color: #00c5ff;
}

/* Code Block Styling */

pre code {
  background-color: #8b9eb2;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}


/* Short Story Styling */

#storyDiv{
    background-color: #8b9eb2;
}

#shortStory{
    display: block;
    margin: 20px;
    text-align: center;
    line-height: 40px;
}

/* Resume Styling */
#resumeDiv{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    text-align: center;
}

.resumeList{
    list-style-type: none;
    margin-right: 40px;
    font-size: 24px;
}

.skillsPara{
    font-size: 28px;
}

/* Skills Column Styling */
#mainWrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1128px;
    border: 6px solid slategray;
    border-radius: 100px;
    background-color: black;
    padding: 8px;
    overflow: hidden;
    position: relative;
    animation: changeWrapperColor 2s forwards;
    z-index: -3;
}

hr {
    border: 1px solid black;
    margin: 0px;
}
/* Animation for Skills Column */
#mainWrapper::before {
    content: "";
    position: absolute;
    width: 1150px;
    height: 800px;
    transform: translateX(-50%);
    background-color: cadetblue;
    animation: fillMe 2s ease-in-out forwards;
    z-index: -1;
}

@keyframes changeWrapperColor {
    0% {
        background-color: black;
    }
    99% {
        background-color: black;
    }
    100% {
        background-color: cadetblue;
    }
}

@keyframes fillMe {
    0% {
        top: 650px;
       }
    100% {
        top: -10px;
       }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.rowWrapper {
    width: 449px;
    margin: 18px;
    float: left;
    animation: fadeIn 3s ease-in-out forwards;
}

.column {
    float: left;
    padding: 18px;
    margin: 18px;
    height: 433px;
    border: 7px solid slategray;
    border-radius: 100px;
    animation: fadeIn 3s ease-in-out forwards;
}

.rightCol {
    width: 210px;
    background-color: aliceblue;
}

.leftCol {
    width: 247px;
    background-color: darksalmon;
}

.row {
    width: 375px;
    padding: 25px;
    border: 7px solid slategray;
    border-radius: 100px;
}

.bottomRow {
    height: 132px;
    background-color: aquamarine;
}

.topRow {
    height: 198px;
    background-color: lightblue;
    margin-bottom: 25px;
}

#skills {
    text-align: center;
    font-size: 40px;
    margin: 10px;
    color: white;
    animation: fadeIn 3s ease-in-out forwards;
}

.clear::after{
    content: "";
    display: table;
    clear: both;
}


/* Homepage Styling */
#profileGroup {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

#content {
    overflow: auto;
    z-index: 200;
}

#myPhoto {
    position: relative;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    
    max-width: 40%;
    
    border-style: solid;
    border-width: 2px;
    border-color: aqua;
    
}

.homepageName{
    font-size: 40px;
    
    margin-top: 20px;
    margin-bottom: 20px;
    
    text-align: center;
    
    position: relative;
    color: aqua;
}

.aboutMe {
    margin-top: -12px;
    
    text-align: center;
    
    font-size: 24px;
    
    color: darkblue;
}

#links {
    text-align: center;
}

.linkButton {
    font-size: 30px;
    background-color: slategray;
    color: lightblue;
    border: 2px solid lightblue;
    transition-duration: 0.4s;
    padding: 2px 8px;
    margin-top: 10px;
    margin-right: 15px;
}

.linkButton:hover{
    background-color: lightblue;
    color: black;
}

h1 {
    margin: 5px;
}

p {
    font-size: 24px;
    margin: 5px;
}
h4 {
    color: azure;
}
body {
    background-color: slategray;
    
    padding-top: 60px;
    padding-bottom: 40px;
}
